<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Example of Bootstrap 3 Tables with Alternate Background</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Transaction_Id</th>
                <th>Sender</th>
                <th>Card_Number</th>
                <th>Transaction_Amount</th>
                <th>Transaction_Datetime</th>
                <th>Sms_Datetime</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.sender }}</td>
                    <td>{{ transaction.card_number }}</td>
                    <td>{{ transaction.transaction_amount }}</td>
                    <td>{{ transaction.transaction_date }}</td>
                    <td>{{ transaction.sms_datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>