<html>
<title> Upload Sms Dump </title>
<head> Upload your File </head>
<body>

   <form action = "/uploader" method = "POST"
      enctype = "multipart/form-data">
      <p>
      <input type = "file" name = "file" />
      </p>
      <p>
      <input type = "submit"/>
      </p>
   </form>

   {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
   {% endwith %}
   
</body>
</html>